<h1>Yooooo</h1>
    {{#each category}}
        <li>
            {{!-- <a href="/movies/{{id}}">{{title}}</a> // on accède directement aux propriétés de l'objet courant --}}
            <p>{{name}}</p>
        </li>
    {{/each}}