    {{#each category}}
    <h2>{{name}}</h2>
    {{/each}}
    {{#each gameOfCategory}}
    <a href="../../Game/{{name}}/">{{name}}</a>
    {{/each}}
<a href="../">Retour à la page des categories</a>
<a href="../../">Retour à la page principale</a>