    <form id="addGameForm">
    <input type="text" name="" id=""></input>

    <input type="file" id="inputForPicture">Deposer la photo</input>
    <input type="submit">Ajouter le jeu à Vapeur</input>
    </form>