    {{#each editor}}
        <li>
            <a href="/Editor/{{name}}">{{name}}</a>
        </li>
    {{/each}}

<a href="./addEditor">Ajouter un éditeur</a>
<a href="../">Retour à la page principale</a>