    {{#each editor}}
    <h2>{{name}}</h2>
    {{/each}}
    {{#each gameOfEditor}}
    <a href="../../Game/{{name}}/">{{name}}</a>
    {{/each}}

<a href="../">Retour à la page des éditeurs</a>
<a href="../../">Retour à la page principale</a>